# See https://help.github.com/articles/ignoring-files for more about ignoring files.
*.rbc
capybara-*.html

coverage/
spec/tmp
*.orig
rerun.txt
pickle-email-*.html
.DS_Store
# Ignore bundler config.
vendor/bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*
!/storage/.keep

# dotenv
# TODO Comment out this rule if environment variables can be committed
.env

node_modules/
yarn-error.log

public/system/
public/assets/
.byebug_history

# Ignore master key for decrypting credentials and more.
config/initializers/secret_token.rb
config/master.key
