[v-cloak] {
  display:none;
}

body {
  text-align: center;
}

.container-fluid {
  min-height: 300px;
}

.breadcrumbs {
  padding: 0.2vw 1vw;
  border-top: 2px solid #89659c;
  border-bottom: 1px solid #89659c;
  margin-bottom: 1rem;
  font-size: 80%;
}

.icon-twitter {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 7px;
  border: 1px solid #d7d2de;
}
